{% extends "travel/base.html"%}
{% load static %}
{% block content %} 
<div class="container">
  <div class="container">
    <div class="section">
      
     <div class="row">
  {% if travels|length  %}
    {% for travel in travels  %}
     
      <div class="col s12 m4">
        <div class="card darken-1">
          <div class="card-content blue-text">
            <span class="card-title">{{travel.company}}</span>
            <p><strong>Duration: </strong>{{period}} days.</p>
            <p><strong>Price: </strong>{{travel.gross}} LE.</p>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light btn">Choose</a>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %} 
    <h1>No Match Found</h1>         
    {% endif %} 

     </div>
    </div>
  </div>
  </div>
  
{% endblock %}